# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:

- task: QualysWASConnector@1
  inputs:
    scanType: 'VULNERABILITY'
    authenticationRecord: 'Use Default'
    cancelOptions: 'Cancel After X Hours'
    failBySeverity1: true
    sev1: '1'
    failBySeverity2: true
    sev2: '1'
    dataCheckFrequency: '5'
    waitTimeforScanResult: '60*24'
    WasService: 'qualys-kozlova-wwt-01'
    WebApplication: TeaStore-PublicIP