<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Tailspin.SpaceGame.Web.ModelsA" value="https://pkgs.dev.azure.com/alex-y-kozlov-sandbox/0354e49d-ed49-49f0-8989-b546a2976103/_packaging/Tailspin.SpaceGame.Web.ModelsA/nuget/v3/index.json" />
  </packageSources>
</configuration>